@font-face {
    font-family: 'TT Lakes';
    src: url('../../KATA_1.4/assets/fonts/TTLakes-Bold.eot');
    src: local('TT Lakes Bold'), local('TTLakes-Bold'),
    url('../../KATA_1.4/assets/fonts/TTLakes-Bold.eot?#iefix') format('embedded-opentype'),
    url('../../KATA_1.4/assets/fonts/TTLakes-Bold.woff') format('woff'),
    url('../../KATA_1.4/assets/fonts/TTLakes-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'TT Lakes';
    src: url('../../KATA_1.4/assets/fonts/TTLakesCondensed-Regular.eot');
    src: local('TT Lakes Condensed Regular'), local('TTLakesCondensed-Regular'),
    url('../../KATA_1.4/assets/fonts/TTLakesCondensed-Regular.eot?#iefix') format('embedded-opentype'),
    url('../../KATA_1.4/assets/fonts/TTLakesCondensed-Regular.woff') format('woff'),
    url('../../KATA_1.4/assets/fonts/TTLakesCondensed-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TT Lakes';
    src: url('../../KATA_1.4/assets/fonts/TTLakes-Medium.eot');
    src: local('TT Lakes Medium'), local('TTLakes-Medium'),
    url('../../KATA_1.4/assets/fonts/TTLakes-Medium.eot?#iefix') format('embedded-opentype'),
    url('../../KATA_1.4/assets/fonts/TTLakes-Medium.woff') format('woff'),
    url('../../KATA_1.4/assets/fonts/TTLakes-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}